
build/
cmake-build-debug/
cmake-build-release/
bin/
obj/


.idea/
.vscode/
.vs/
*.swp
*.swo
*.user
*.suo
*.sln
*.vcxproj
*.filters


.env.cmake
.env

shaders/*.spv

*.exe
*.dll
*.pdb
*.ilk
*.exp
*.lib
*.a
*.o
*.obj

Thumbs.db
desktop.ini
.DS_Store

*.log
